@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* your custom globals below */


:root {
    --spacing-s: 8px;
    --spacing-m: 16px;
    --spacing-m-p: 24px;
    --spacing-l: 32px;
}

body { @apply bg-gray-950 text-slate-100; }

@layer components {
    .lines {
        @apply border-x border-[color:var(--pattern-fg)]
        bg-[image:repeating-linear-gradient(315deg,_var(--pattern-fg)_0px,_var(--pattern-fg)_1px,_transparent_1px,_transparent_50%)]
        bg-[size:10px_10px] bg-fixed
        [--pattern-fg:rgba(0,0,0,0.05)] dark:[--pattern-fg:rgba(255,255,255,0.10)];
    }

    .left-navigation-link {
        @apply inline-flex items-center gap-3 text-base/8 text-gray-600 sm:text-sm/7 dark:text-gray-300 hover:text-gray-950 dark:hover:text-white aria-[current]:font-semibold;
    }

    .box-container {
        @apply  bg-[#121823] rounded-lg shadow-sm border-0 border-t-[1px] border-gray-200/30  ;
    }

    .box-container-inner {
        @apply  px-4 pb-4 pt-2 text-white text-[14px] rounded-lg bg-[#11131e] min-h-full overflow-y-auto;
    }

    .input-text {
        @apply grid w-full grid-cols-[auto_1fr_auto] items-center gap-1 bg-[#303848] rounded px-4 py-2 text-left text-sm/6 text-gray-300;
    }

    .form-button {
        @apply w-full  py-2 rounded inline-block rounded-full bg-black px-3.5 text-[0.8125rem]/6 font-semibold text-white hover:bg-gray-800 dark:bg-gray-700 dark:hover:bg-gray-600;
    }

    .font-inter {
        font-family: 'Inter', ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
    }

    .as-p1-text {
        @apply self-stretch font-inter text-[16px] font-normal leading-[1.25rem];
    }

    .as-p2-text {
        @apply  font-inter text-[14px] font-normal leading-[1.25rem];
    }

    .as-p3-text {
        @apply  font-inter text-[12px] font-normal leading-[1.25rem];
    }

    .as-h1-text {
        @apply  font-inter text-[36px] font-black leading-[120%];
    }
    .as-h2-text {
        @apply  font-inter text-[22px] font-bold leading-[120%];
    }
    .as-h3-text {
        @apply  font-inter text-[18px] font-bold leading-[120%];
    }
    .as-h4-text {
        @apply  font-inter text-[16px] font-bold leading-[120%];
    }
    .as-h5-text {
        @apply  font-inter text-[15px] font-bold leading-[120%];
    }

    .gap-small {
        @apply gap-[var(--spacing-s)];
    }
    
    .gap-medium {
        @apply gap-[var(--spacing-m)];
    }
    .gap-large {
        @apply gap-[var(--spacing-l)];
    }

    .primary-text-color {
        @apply text-slate-900;
    }

    .secondary-text-color {
        @apply text-slate-600;
    }


    .input {
        @apply px-3 py-2 rounded-lg bg-slate-50 border border-slate-200 text-slate-700 placeholder:text-slate-300 as-p2-text focus-within:outline-none focus-within:bg-slate-100;
    }

    .main-menu-item {
        @apply as-p2-text primary-text-color hover:underline underline-offset-[4px];
    }

    .main-menu-item-mobile {
        @apply as-h2-text hover:underline underline-offset-[4px] py-2 text-right;
    }

    .text-content {
        ul {
            list-style-type: disc;
            padding-left: 20px;
            @apply gap-small;
        }
    }
}
